/* line 13, ../sass/custom.scss */
a:focus {
  outline: none;
}

/* line 64, ../sass/custom.scss */
.navbar {
  top: 0;
  z-index: 1030;
  transition: all 0.3s ease-in-out;
}

/* line 69, ../sass/custom.scss */
.min {
  transform: translateY(-100%);
}

/* line 72, ../sass/custom.scss */
.max {
  transform: translateY(0%);
}

/* line 95, ../sass/custom.scss */
.gray-bg {
  background-color: #efefef;
}

/* line 98, ../sass/custom.scss */
.add-margin {
  margin-top: 80px;
}
@media (max-width: 768px) {
  /* line 98, ../sass/custom.scss */
  .add-margin {
    margin-top: 145px;
  }
}

/* line 104, ../sass/custom.scss */
.loading-block {
  text-align: center;
  padding: 5% 0;
}

/* line 109, ../sass/custom.scss */
.less + .less:before {
  content: '>';
  display: inline;
}

@media (max-width: 480px) {
  /* line 115, ../sass/custom.scss */
  .phone-hide {
    display: none;
  }
}
@media (min-width: 480px) {
  /* line 120, ../sass/custom.scss */
  .no-padding {
    padding: 0 5px !important;
  }
}
/* line 124, ../sass/custom.scss */
.no-right-padding {
  padding-right: 0;
}

/* line 127, ../sass/custom.scss */
.search-bar {
  padding: 10px 0;
  width: 100%;
}

/* line 131, ../sass/custom.scss */
.navbar {
  width: 100%;
  border-radius: 0;
  border: 0;
}

/* line 136, ../sass/custom.scss */
.navbar-brand {
  padding: 13px;
}

@media (max-width: 991px) {
  /* line 141, ../sass/custom.scss */
  .all-menu {
    float: right;
  }
  /* line 143, ../sass/custom.scss */
  .all-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  /* line 149, ../sass/custom.scss */
  .all-menu > ul > li {
    position: relative;
  }
  /* line 151, ../sass/custom.scss */
  .all-menu > ul > li > a {
    display: block;
    color: #fff;
    padding: 23px;
  }
  /* line 156, ../sass/custom.scss */
  .all-menu > ul > li > ul {
    position: fixed;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 11;
    top: 0;
    height: 100vh;
    overflow-y: scroll;
    display: none;
  }
  /* line 166, ../sass/custom.scss */
  .all-menu > ul > li > ul .phone-menu-control {
    padding: 15px 20px;
    color: #fff;
    background-color: #d72825;
    position: relative;
  }
  /* line 172, ../sass/custom.scss */
  .all-menu > ul > li > ul .phone-menu-control .btn-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px 20px;
    color: #fff;
    background-color: transparent !important;
  }
  /* line 179, ../sass/custom.scss */
  .all-menu > ul > li > ul .phone-menu-control .btn-close:after {
    display: none;
  }
  /* line 184, ../sass/custom.scss */
  .all-menu > ul > li > ul > li {
    border-bottom: 1px solid #DDD;
  }
  /* line 186, ../sass/custom.scss */
  .all-menu > ul > li > ul > li:last-child {
    border-bottom: 0;
  }
  /* line 189, ../sass/custom.scss */
  .all-menu > ul > li > ul > li > a {
    display: block;
    padding: 15px 20px;
    color: #000;
    position: relative;
    text-decoration: none;
    font-weight: bold;
  }
  /* line 196, ../sass/custom.scss */
  .all-menu > ul > li > ul > li > a:after {
    content: "\f078";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    font-size: 16px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: #a1a1a1;
  }
  /* line 206, ../sass/custom.scss */
  .all-menu > ul > li > ul > li > a.active {
    background-color: #f3f3f3;
  }
  /* line 208, ../sass/custom.scss */
  .all-menu > ul > li > ul > li > a.active:after {
    content: "\f077";
    color: #000;
  }
  /* line 215, ../sass/custom.scss */
  .all-menu > ul > li > ul > li .menu {
    display: none;
  }
  /* line 217, ../sass/custom.scss */
  .all-menu > ul > li > ul > li .menu .TT {
    display: none;
  }
  /* line 220, ../sass/custom.scss */
  .all-menu > ul > li > ul > li .menu .item {
    border-top: 1px solid #DDD;
    position: relative;
  }
  /* line 223, ../sass/custom.scss */
  .all-menu > ul > li > ul > li .menu .item > .tt {
    padding: 8px 8px 8px 36px;
    display: block;
    position: relative;
  }
  /* line 227, ../sass/custom.scss */
  .all-menu > ul > li > ul > li .menu .item > .tt:before {
    content: "\f0d7";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    font-size: 16px;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: #d72825;
  }
  /* line 237, ../sass/custom.scss */
  .all-menu > ul > li > ul > li .menu .item > .tt.active:before {
    content: "\f0d8";
    color: #961c1a;
  }
  /* line 241, ../sass/custom.scss */
  .all-menu > ul > li > ul > li .menu .item > .tt.go:before {
    display: none;
  }
  /* line 245, ../sass/custom.scss */
  .all-menu > ul > li > ul > li .menu .item > .see-all {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 2;
    padding: 3px 5px;
    background: #a1a1a1;
    color: #fff;
    border-radius: 6px;
  }
  /* line 256, ../sass/custom.scss */
  .all-menu > ul > li > ul > li .menu .item .detail {
    display: none;
    padding: 0 10px 10px 30px;
  }
  /* line 259, ../sass/custom.scss */
  .all-menu > ul > li > ul > li .menu .item .detail a {
    display: inline-block;
    padding: 3px 5px;
    background: #d72825;
    color: #fff;
    border-radius: 6px;
    margin: 3px;
  }
}
@media (min-width: 992px) {
  /* line 278, ../sass/custom.scss */
  .all-menu {
    float: left;
  }
  /* line 280, ../sass/custom.scss */
  .all-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  /* line 288, ../sass/custom.scss */
  .all-menu > ul > li {
    position: relative;
  }
  /* line 290, ../sass/custom.scss */
  .all-menu > ul > li > a {
    color: #fff;
    display: block;
    padding: 23px;
  }
  /* line 296, ../sass/custom.scss */
  .all-menu > ul > li > ul {
    position: absolute;
    left: 0;
    background-color: #fff;
    width: 200px;
    z-index: 11;
    border: 1px solid #ddd;
    padding: 10px 0;
    list-style: none;
    top: 64px;
    height: 500px;
    display: none;
  }
  /* line 308, ../sass/custom.scss */
  .all-menu > ul > li > ul .phone-menu-control {
    display: none;
  }
  /* line 311, ../sass/custom.scss */
  .all-menu > ul > li > ul:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    top: -10px;
    left: 18px;
  }
  /* line 324, ../sass/custom.scss */
  .all-menu > ul > li > ul > li:hover > a {
    color: #d72825;
    font-weight: bold;
    -moz-transform: translateX(1px);
    -ms-transform: translateX(1px);
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  /* line 328, ../sass/custom.scss */
  .all-menu > ul > li > ul > li:hover > a:after {
    color: #000;
  }
  /* line 332, ../sass/custom.scss */
  .all-menu > ul > li > ul > li:hover > .menu {
    display: block;
  }
  /* line 334, ../sass/custom.scss */
  .all-menu > ul > li > ul > li > a {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 2px 20px;
    position: relative;
  }
  /* line 340, ../sass/custom.scss */
  .all-menu > ul > li > ul > li > a:after {
    content: "\f105";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    font-size: 20px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: #ccc;
  }
  /* line 351, ../sass/custom.scss */
  .all-menu > ul > li > ul > li .menu {
    position: absolute;
    left: 198px;
    background-color: #fff;
    width: 600px;
    z-index: 11;
    border: 1px solid #ddd;
    top: -1px;
    height: 500px;
    padding: 12px 24px;
    list-style: none;
    display: none;
    background-repeat: no-repeat;
    background-position: right bottom;
  }
  /* line 365, ../sass/custom.scss */
  .all-menu > ul > li > ul > li .menu.menuBg-1 {
    background-image: url(http://www.obj.com.au/images/images/image-sk2-cosmetic-skincare-product.png);
  }
  /* line 368, ../sass/custom.scss */
  .all-menu > ul > li > ul > li .menu .TT {
    font-size: 1.6rem;
    border-bottom: 1px solid #d72825;
    padding: 5px 0;
    margin-bottom: 10px;
    color: #d72825;
    font-weight: bold;
  }
  /* line 371, ../sass/custom.scss */
  .all-menu > ul > li > ul > li .menu .item {
    float: left;
    padding-right: 10px;
  }
  /* line 4, ../sass/custom.scss */
  .all-menu > ul > li > ul > li .menu .item:before, .all-menu > ul > li > ul > li .menu .item:after {
    content: " ";
    display: table;
  }
  /* line 9, ../sass/custom.scss */
  .all-menu > ul > li > ul > li .menu .item:after {
    clear: both;
  }
  /* line 375, ../sass/custom.scss */
  .all-menu > ul > li > ul > li .menu .item .tt {
    display: block;
    color: #000;
  }
  /* line 378, ../sass/custom.scss */
  .all-menu > ul > li > ul > li .menu .item .tt:hover {
    color: #d72825;
  }
  /* line 382, ../sass/custom.scss */
  .all-menu > ul > li > ul > li .menu .item .see-all {
    display: none;
  }
  /* line 385, ../sass/custom.scss */
  .all-menu > ul > li > ul > li .menu .item .detail {
    margin-bottom: 15px;
  }
  /* line 387, ../sass/custom.scss */
  .all-menu > ul > li > ul > li .menu .item .detail a {
    color: #777;
    display: inline-block;
    font-size: 13px;
    margin-right: 2px;
  }
  /* line 395, ../sass/custom.scss */
  .all-menu > ul > li > ul > li .menu .col-item-4 {
    width: 33.3%;
  }
  /* line 402, ../sass/custom.scss */
  .all-menu > ul > li:hover > ul {
    display: block;
  }
}
@media (min-width: 766px) {
  /* line 411, ../sass/custom.scss */
  .all-menu {
    float: left;
  }
}
@media (min-width: 992px) {
  /* line 416, ../sass/custom.scss */
  .main-side {
    float: right;
  }
}

/* line 421, ../sass/custom.scss */
.mode-wrap {
  margin-bottom: 20px;
}
/* line 423, ../sass/custom.scss */
.mode-wrap section {
  background-color: #fff;
}
/* line 425, ../sass/custom.scss */
.mode-wrap section table {
  width: 100% !important;
  max-width: 100% !important;
}
/* line 429, ../sass/custom.scss */
.mode-wrap section img {
  max-width: 100% !important;
}

/* line 435, ../sass/custom.scss */
.wrap {
  margin-bottom: 10px;
}
/* line 4, ../sass/custom.scss */
.wrap:before, .wrap:after {
  content: " ";
  display: table;
}
/* line 9, ../sass/custom.scss */
.wrap:after {
  clear: both;
}
/* line 438, ../sass/custom.scss */
.wrap.wrap-default {
  padding: 12px;
  background-color: #fff;
}
@media (max-width: 480px) {
  /* line 438, ../sass/custom.scss */
  .wrap.wrap-default {
    padding: 10px;
  }
}

/* line 446, ../sass/custom.scss */
.breadcrumb-wrap {
  margin-bottom: 10px;
  padding: 12px;
  background-color: #fff;
}
/* line 4, ../sass/custom.scss */
.breadcrumb-wrap:before, .breadcrumb-wrap:after {
  content: " ";
  display: table;
}
/* line 9, ../sass/custom.scss */
.breadcrumb-wrap:after {
  clear: both;
}
@media (max-width: 992px) {
  /* line 446, ../sass/custom.scss */
  .breadcrumb-wrap {
    display: none;
  }
}
/* line 454, ../sass/custom.scss */
.breadcrumb-wrap .breadcrumb {
  margin-bottom: 0;
  float: left;
  padding: 0 0;
}

/* line 460, ../sass/custom.scss */
.info-wrap {
  margin-bottom: 10px;
}
@media (max-width: 480px) {
  /* line 460, ../sass/custom.scss */
  .info-wrap {
    padding: 0 15px;
  }
}
/* line 465, ../sass/custom.scss */
.info-wrap .tt {
  font-size: 1.6rem;
  color: #d72825;
  font-weight: bold;
  margin-top: 10px;
}
/* line 471, ../sass/custom.scss */
.info-wrap .info-left {
  float: left;
  padding: 5px 0;
}
/* line 474, ../sass/custom.scss */
.info-wrap .info-left span {
  color: #d72825;
  font-size: 1.6rem;
  font-weight: bold;
}
/* line 480, ../sass/custom.scss */
.info-wrap .info-right {
  float: right;
}
/* line 482, ../sass/custom.scss */
.info-wrap .info-right .pager {
  margin: 0 0;
}

/* line 487, ../sass/custom.scss */
.search-cont-wrap {
  margin-top: 10px;
}
/* line 4, ../sass/custom.scss */
.search-cont-wrap:before, .search-cont-wrap:after {
  content: " ";
  display: table;
}
/* line 9, ../sass/custom.scss */
.search-cont-wrap:after {
  clear: both;
}

/* line 491, ../sass/custom.scss */
.product {
  position: relative;
  background-color: #fff;
  padding: 12px;
}
/* line 4, ../sass/custom.scss */
.product:before, .product:after {
  content: " ";
  display: table;
}
/* line 9, ../sass/custom.scss */
.product:after {
  clear: both;
}
@media (min-width: 769px) {
  /* line 497, ../sass/custom.scss */
  .product:hover {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    box-shadow: 2px 4px 6px 1px rgba(0, 0, 0, 0.2);
  }
}
@media (max-width: 480px) {
  /* line 491, ../sass/custom.scss */
  .product {
    padding: 10px;
  }
}
/* line 505, ../sass/custom.scss */
.product .product-left {
  overflow: hidden;
  display: block;
}
/* line 508, ../sass/custom.scss */
.product .product-left img {
  position: relative;
  width: auto;
  max-width: initial;
  height: 100%;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* line 518, ../sass/custom.scss */
.product .product-body .tt {
  overflow: hidden;
  line-height: 1;
}
/* line 521, ../sass/custom.scss */
.product .product-body .tt a {
  color: #000;
  display: block;
}
/* line 524, ../sass/custom.scss */
.product .product-body .tt a:hover {
  color: #00adff;
}
/* line 529, ../sass/custom.scss */
.product .product-body .price {
  color: #d72825;
  font-weight: bold;
  margin: 10px 0;
  font-size: 12px;
}
/* line 534, ../sass/custom.scss */
.product .product-body .price i {
  font-family: Arial;
  font-style: normal;
}
/* line 538, ../sass/custom.scss */
.product .product-body .price span {
  font-size: 18px;
}
@media (max-width: 480px) {
  /* line 538, ../sass/custom.scss */
  .product .product-body .price span {
    font-size: 16px;
  }
}
/* line 545, ../sass/custom.scss */
.product .product-body .info {
  font-size: 12px;
  color: #7c7c7c;
}
/* line 548, ../sass/custom.scss */
.product .product-body .info .breadcrumb-xs {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 4, ../sass/custom.scss */
.product .product-body .info .breadcrumb-xs:before, .product .product-body .info .breadcrumb-xs:after {
  content: " ";
  display: table;
}
/* line 9, ../sass/custom.scss */
.product .product-body .info .breadcrumb-xs:after {
  clear: both;
}
/* line 553, ../sass/custom.scss */
.product .product-body .info .breadcrumb-xs li {
  float: left;
  font-size: 12px;
}
/* line 556, ../sass/custom.scss */
.product .product-body .info .breadcrumb-xs li a {
  color: #7c7c7c;
}
/* line 564, ../sass/custom.scss */
.product .product-right .btn-link {
  color: #777;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 567, ../sass/custom.scss */
.product .product-right .btn-link:hover {
  color: #d72825;
  text-decoration: none;
}
@media (max-width: 768px) {
  /* line 567, ../sass/custom.scss */
  .product .product-right .btn-link:hover {
    color: #777;
  }
}
/* line 574, ../sass/custom.scss */
.product .product-right .btn-link.active {
  color: #d72825;
  text-decoration: none;
}
/* line 583, ../sass/custom.scss */
.mode-col .product {
  width: 24%;
  float: left;
  margin-right: 1.333%;
  margin-bottom: 1.333%;
}
@media (min-width: 769px) {
  /* line 589, ../sass/custom.scss */
  .mode-col .product:nth-child(4n) {
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  /* line 583, ../sass/custom.scss */
  .mode-col .product {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
}
@media (max-width: 768px) {
  /* line 600, ../sass/custom.scss */
  .mode-col .product:nth-child(3n) {
    margin-right: 0;
  }
}
@media (max-width: 480px) {
  /* line 583, ../sass/custom.scss */
  .mode-col .product {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
}
@media (max-width: 480px) {
  /* line 611, ../sass/custom.scss */
  .mode-col .product:nth-child(3n) {
    margin-right: 2%;
  }
  /* line 614, ../sass/custom.scss */
  .mode-col .product:nth-child(2n) {
    margin-right: 0;
  }
}
/* line 618, ../sass/custom.scss */
.mode-col .product .product-left {
  width: 100%;
  height: 170px;
  margin: 0 auto;
}
@media (max-width: 320px) {
  /* line 618, ../sass/custom.scss */
  .mode-col .product .product-left {
    height: 130px;
  }
}
/* line 626, ../sass/custom.scss */
.mode-col .product .product-body {
  height: 172px;
  overflow: hidden;
}
@media (max-width: 480px) {
  /* line 626, ../sass/custom.scss */
  .mode-col .product .product-body {
    height: 150px;
  }
}
/* line 632, ../sass/custom.scss */
.mode-col .product .product-body .tt {
  font-size: 1.6rem;
  height: 48px;
  margin: 20px 0 10px 0;
}
/* line 637, ../sass/custom.scss */
.mode-col .product .product-body .good-news {
  color: #63C355;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  height: 17px;
}
@media (max-width: 480px) {
  /* line 637, ../sass/custom.scss */
  .mode-col .product .product-body .good-news {
    display: none;
  }
}
/* line 647, ../sass/custom.scss */
.mode-col .product .product-body .breadcrumb-xs {
  height: 34px;
  overflow: hidden;
}
/* line 653, ../sass/custom.scss */
.mode-col .product .product-right .wrap {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 658, ../sass/custom.scss */
.mode-col .product .product-right .wrap li:nth-child(2) {
  display: none;
}
/* line 661, ../sass/custom.scss */
.mode-col .product .product-right .wrap li .btn-link {
  position: absolute;
  top: 0;
  left: 0;
  padding: 6px 6px;
  font-size: 16px;
  background-color: #fff;
  border-radius: 0 0 20px 0;
}
/* line 670, ../sass/custom.scss */
.mode-col .product .product-right .wrap li a .phone-hide {
  display: none;
}
/* line 678, ../sass/custom.scss */
.mode-list .product {
  margin-bottom: 10px;
  display: -webkit-flex;
  display: flex;
}
@media (max-width: 480px) {
  /* line 678, ../sass/custom.scss */
  .mode-list .product {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
/* line 684, ../sass/custom.scss */
.mode-list .product .product-left {
  -webkit-flex: none;
  flex: none;
  height: 170px;
}
@media (max-width: 768px) {
  /* line 684, ../sass/custom.scss */
  .mode-list .product .product-left {
    height: 150px;
  }
}
@media (max-width: 480px) {
  /* line 684, ../sass/custom.scss */
  .mode-list .product .product-left {
    height: 100px;
  }
}
/* line 693, ../sass/custom.scss */
.mode-list .product .product-left img {
  height: 100%;
}
/* line 697, ../sass/custom.scss */
.mode-list .product .product-body {
  -webkit-flex: 1;
  flex: 1;
  padding: 0 20px;
}
@media (max-width: 480px) {
  /* line 697, ../sass/custom.scss */
  .mode-list .product .product-body {
    padding: 0 0 0 10px;
  }
}
/* line 703, ../sass/custom.scss */
.mode-list .product .product-body .tt {
  font-size: 2.4rem;
  margin: 10px 0 20px 0;
}
@media (max-width: 480px) {
  /* line 703, ../sass/custom.scss */
  .mode-list .product .product-body .tt {
    font-size: 1.6rem;
    margin: 5px 0 10px 0;
  }
}
/* line 711, ../sass/custom.scss */
.mode-list .product .product-body .good-news {
  color: #63C355;
  font-size: 14px;
}
/* line 714, ../sass/custom.scss */
.mode-list .product .product-body .good-news:empty {
  display: none;
}
@media (max-width: 480px) {
  /* line 711, ../sass/custom.scss */
  .mode-list .product .product-body .good-news {
    font-size: 12px;
    /*display: none;*/
  }
}
/* line 723, ../sass/custom.scss */
.mode-list .product .product-right {
  -webkit-flex: initial;
  flex: initial;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 115px;
  min-width: 96px;
  margin: -12px -12px -12px 0;
  text-align: center;
  border-left: 1px dashed #ddd;
}
/* line 733, ../sass/custom.scss */
.mode-list .product .product-right .wrap {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}
@media (max-width: 480px) {
  /* line 723, ../sass/custom.scss */
  .mode-list .product .product-right {
    width: 100%;
    min-width: initial;
    margin: 10px 0 0 0;
    border-left: 0;
    border-top: 1px dashed #ddd;
    padding: 10px 0 0 0;
  }
  /* line 745, ../sass/custom.scss */
  .mode-list .product .product-right .wrap {
    width: 100%;
  }
  /* line 4, ../sass/custom.scss */
  .mode-list .product .product-right .wrap:before, .mode-list .product .product-right .wrap:after {
    content: " ";
    display: table;
  }
  /* line 9, ../sass/custom.scss */
  .mode-list .product .product-right .wrap:after {
    clear: both;
  }
  /* line 748, ../sass/custom.scss */
  .mode-list .product .product-right .wrap li {
    width: 50%;
    float: left;
  }
}
/* line 754, ../sass/custom.scss */
.mode-list .product .product-right .btn {
  margin-bottom: 10px;
}
@media (max-width: 480px) {
  /* line 754, ../sass/custom.scss */
  .mode-list .product .product-right .btn {
    margin-bottom: 0;
  }
}
/* line 763, ../sass/custom.scss */
.mode-list.big .product {
  margin-bottom: 0;
}
/* line 765, ../sass/custom.scss */
.mode-list.big .product:hover {
  box-shadow: none;
}
/* line 768, ../sass/custom.scss */
.mode-list.big .product .product-left {
  margin-left: 20px;
  height: 200px;
}
@media (max-width: 480px) {
  /* line 768, ../sass/custom.scss */
  .mode-list.big .product .product-left {
    height: 100px;
    margin-left: 0;
  }
}

/* line 779, ../sass/custom.scss */
.card .tt {
  font-size: 1.6rem;
  border-bottom: 1px solid #d72825;
  padding: 5px 0;
  margin-bottom: 10px;
  color: #d72825;
  font-weight: bold;
}
/* line 782, ../sass/custom.scss */
.card .list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 786, ../sass/custom.scss */
.card .list li {
  border-bottom: 1px dashed #dddddd;
}
/* line 788, ../sass/custom.scss */
.card .list li a {
  display: block;
  padding: 5px 10px;
  color: #000;
}
/* line 792, ../sass/custom.scss */
.card .list li a:hover {
  color: #d72825;
}

/* line 842, ../sass/custom.scss */
.price-list {
  background-color: #fff;
  padding: 20px;
  border-bottom: 1px dashed #ddd;
  display: block;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
/* line 4, ../sass/custom.scss */
.price-list:before, .price-list:after {
  content: " ";
  display: table;
}
/* line 9, ../sass/custom.scss */
.price-list:after {
  clear: both;
}
/* line 853, ../sass/custom.scss */
.price-list:last-child {
  border-bottom: 0;
}
@media (max-width: 480px) {
  /* line 842, ../sass/custom.scss */
  .price-list {
    padding: 12px;
  }
}
/* line 859, ../sass/custom.scss */
.price-list:hover, .price-list:focus {
  text-decoration: none;
}
/* line 863, ../sass/custom.scss */
.price-list:hover {
  background-color: #fff6de;
}
/* line 866, ../sass/custom.scss */
.price-list:hover .price-list-body h3 {
  color: #00adff;
  text-decoration: underline;
}
/* line 872, ../sass/custom.scss */
.price-list .price-list-left {
  width: 90px;
  height: 90px;
}
/* line 875, ../sass/custom.scss */
.price-list .price-list-left img {
  position: relative;
  height: 100%;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* line 879, ../sass/custom.scss */
.price-list .price-list-body {
  display: flex;
  word-break: break-all;
  margin-left: 30px;
  width: 100%;
}
@media (max-width: 480px) {
  /* line 879, ../sass/custom.scss */
  .price-list .price-list-body {
    display: block;
    margin-left: 10px;
  }
}
/* line 888, ../sass/custom.scss */
.price-list .price-list-body h3 {
  flex: 1;
  margin: 0;
  display: inline-block;
  line-height: 1;
  color: #000;
  font-size: 1.6rem;
}
@media (max-width: 480px) {
  /* line 888, ../sass/custom.scss */
  .price-list .price-list-body h3 {
    font-size: 1.4rem;
  }
}
/* line 899, ../sass/custom.scss */
.price-list .price-list-body .price {
  flex: none;
  min-width: 135px;
  color: #d72825;
  font-weight: bold;
  padding: 4px 12px;
  font-size: 12px;
  text-align: center;
}
@media (max-width: 480px) {
  /* line 899, ../sass/custom.scss */
  .price-list .price-list-body .price {
    padding: 4px 0 0 0;
    text-align: left;
  }
}
/* line 911, ../sass/custom.scss */
.price-list .price-list-body .price i {
  font-family: Arial;
  font-style: normal;
}
/* line 915, ../sass/custom.scss */
.price-list .price-list-body .price span {
  font-size: 18px;
}
@media (max-width: 480px) {
  /* line 915, ../sass/custom.scss */
  .price-list .price-list-body .price span {
    font-size: 16px;
  }
}
/* line 922, ../sass/custom.scss */
.price-list .price-list-body .other {
  flex: none;
  padding-left: 12px;
}
@media (max-width: 768px) {
  /* line 922, ../sass/custom.scss */
  .price-list .price-list-body .other {
    display: none;
  }
}

/* line 932, ../sass/custom.scss */
.c-nav-tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 3px solid #d72825;
}
/* line 4, ../sass/custom.scss */
.c-nav-tabs:before, .c-nav-tabs:after {
  content: " ";
  display: table;
}
/* line 9, ../sass/custom.scss */
.c-nav-tabs:after {
  clear: both;
}
/* line 938, ../sass/custom.scss */
.c-nav-tabs li {
  float: left;
  margin-right: 3px;
}
/* line 941, ../sass/custom.scss */
.c-nav-tabs li a {
  color: #fff;
  background-color: #ccc;
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}
@media (max-width: 480px) {
  /* line 941, ../sass/custom.scss */
  .c-nav-tabs li a {
    font-size: 14px;
  }
}
/* line 952, ../sass/custom.scss */
.c-nav-tabs li a .badge {
  margin-left: 3px;
}
@media (max-width: 480px) {
  /* line 952, ../sass/custom.scss */
  .c-nav-tabs li a .badge {
    display: none;
  }
}
/* line 962, ../sass/custom.scss */
.c-nav-tabs li.active a, .c-nav-tabs li:hover a, .c-nav-tabs li:focus a {
  background-color: #d72825;
}
/* line 964, ../sass/custom.scss */
.c-nav-tabs li.active a .badge, .c-nav-tabs li:hover a .badge, .c-nav-tabs li:focus a .badge {
  background-color: #fff;
  color: #d72825;
}
/* line 971, ../sass/custom.scss */
.c-nav-tabs.black {
  border-color: #000;
}
/* line 977, ../sass/custom.scss */
.c-nav-tabs.black li.active a, .c-nav-tabs.black li:hover a, .c-nav-tabs.black li:focus a {
  background-color: #000;
}

/* line 986, ../sass/custom.scss */
.price-hot-wrod {
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 10px 0;
}
/* line 4, ../sass/custom.scss */
.price-hot-wrod:before, .price-hot-wrod:after {
  content: " ";
  display: table;
}
/* line 9, ../sass/custom.scss */
.price-hot-wrod:after {
  clear: both;
}
/* line 992, ../sass/custom.scss */
.price-hot-wrod li {
  width: 33.3%;
  float: left;
  border-bottom: 1px #a6a6a6 dashed;
}
@media (max-width: 480px) {
  /* line 992, ../sass/custom.scss */
  .price-hot-wrod li {
    width: 100%;
  }
}
/* line 999, ../sass/custom.scss */
.price-hot-wrod li a {
  display: block;
  color: #000;
  padding: 5px 10px;
}
/* line 1003, ../sass/custom.scss */
.price-hot-wrod li a:hover {
  color: #d72825;
}

/* line 1010, ../sass/custom.scss */
.filter {
  padding: 15px 30px;
}
/* line 4, ../sass/custom.scss */
.filter:before, .filter:after {
  content: " ";
  display: table;
}
/* line 9, ../sass/custom.scss */
.filter:after {
  clear: both;
}
/* line 1013, ../sass/custom.scss */
.filter ul {
  list-style: none;
  padding: 0;
}
/* line 1017, ../sass/custom.scss */
.filter ul li .badge {
  margin-left: 6px;
  font-weight: normal;
  font-size: 10px;
  background-color: #a1a1a1;
}
/* line 1023, ../sass/custom.scss */
.filter ul li .btn-primary {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  padding: 3px 8px 3px 3px;
}
/* line 1029, ../sass/custom.scss */
.filter > ul {
  border-bottom: 1px dashed #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
/* line 1033, ../sass/custom.scss */
.filter > ul:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 1038, ../sass/custom.scss */
.filter > ul > li {
  font-weight: bold;
}
/* line 1040, ../sass/custom.scss */
.filter > ul > li > ul {
  margin-top: 10px;
}
/* line 4, ../sass/custom.scss */
.filter > ul > li > ul:before, .filter > ul > li > ul:after {
  content: " ";
  display: table;
}
/* line 9, ../sass/custom.scss */
.filter > ul > li > ul:after {
  clear: both;
}
/* line 1043, ../sass/custom.scss */
.filter > ul > li > ul > li {
  float: left;
  display: block;
  width: 100%;
  margin-top: 5px;
}
@media (min-width: 480px) {
  /* line 1043, ../sass/custom.scss */
  .filter > ul > li > ul > li {
    width: 50%;
  }
}
/* line 1051, ../sass/custom.scss */
.filter > ul > li > ul > li label {
  font-weight: normal;
}

/* line 1059, ../sass/custom.scss */
.btn-block-half {
  text-align: center;
}
/* line 4, ../sass/custom.scss */
.btn-block-half:before, .btn-block-half:after {
  content: " ";
  display: table;
}
/* line 9, ../sass/custom.scss */
.btn-block-half:after {
  clear: both;
}
/* line 1062, ../sass/custom.scss */
.btn-block-half .btn {
  width: 48%;
  float: left;
}
/* line 1066, ../sass/custom.scss */
.btn-block-half .btn + .btn {
  margin-left: 4%;
}

/* line 1072, ../sass/custom.scss */
.checkbox-style label {
  cursor: pointer;
}
/* line 1074, ../sass/custom.scss */
.checkbox-style label .name {
  color: #777777;
}
/* line 1077, ../sass/custom.scss */
.checkbox-style label .box {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #a1a1a1;
  vertical-align: -3px;
  border-radius: 2px;
}
/* line 1086, ../sass/custom.scss */
.checkbox-style label:hover .name {
  color: #d72825;
}
/* line 1089, ../sass/custom.scss */
.checkbox-style label:hover .box {
  border-color: #d72825;
}
/* line 1093, ../sass/custom.scss */
.checkbox-style label input[type="checkbox"] {
  display: none;
}
/* line 1095, ../sass/custom.scss */
.checkbox-style label input[type="checkbox"]:checked + .box {
  border-color: #d72825;
}
/* line 1097, ../sass/custom.scss */
.checkbox-style label input[type="checkbox"]:checked + .box:before {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f00c";
  vertical-align: 3px;
  color: #d72825;
}
/* line 1104, ../sass/custom.scss */
.checkbox-style label input[type="checkbox"]:checked ~ .name {
  color: #d72825;
}

/* line 1110, ../sass/custom.scss */
.footer {
  color: #fff;
  background-color: #4a4a4a;
  text-align: center;
  padding: 15px;
}
@media (max-width: 480px) {
  /* line 1110, ../sass/custom.scss */
  .footer {
    background-color: transparent;
    color: #777;
  }
}

/* line 1121, ../sass/custom.scss */
.backToTop {
  display: inline-block;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  position: fixed;
  right: 2%;
  bottom: 10%;
  width: 60px;
  height: 60px;
  line-height: 56px;
  font-size: 32px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 1135, ../sass/custom.scss */
.backToTop:after {
  content: "\f135";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 31px;
  color: #fff;
}
@media (max-width: 480px) {
  /* line 1135, ../sass/custom.scss */
  .backToTop:after {
    font-size: 26px;
  }
}
/* line 1144, ../sass/custom.scss */
.backToTop:hover, .backToTop:focus {
  text-decoration: none;
}
@media (min-width: 480px) {
  /* line 1149, ../sass/custom.scss */
  .backToTop:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}
@media (max-width: 480px) {
  /* line 1121, ../sass/custom.scss */
  .backToTop {
    width: 50px;
    height: 50px;
    font-size: 24px;
    line-height: 49px;
    background-color: rgba(0, 0, 0, 0.4);
  }
  /* line 1161, ../sass/custom.scss */
  .backToTop:focus, .backToTop:hover, .backToTop:active {
    color: #fff;
  }
}

/* line 1169, ../sass/custom.scss */
.btn-tag-wrap {
  margin: 10px 0;
}
@media (max-width: 480px) {
  /* line 1169, ../sass/custom.scss */
  .btn-tag-wrap {
    margin: 10px 10px;
    height: 110px;
    overflow: hidden;
  }
}
/* line 1176, ../sass/custom.scss */
.btn-tag-wrap .btn-tag {
  margin: 3px 0;
  border: 1px solid #d72825;
  color: #d72825;
}
/* line 1180, ../sass/custom.scss */
.btn-tag-wrap .btn-tag:hover {
  background-color: #d72825;
  color: #fff;
}

/* line 1233, ../sass/custom.scss */
.mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000;
  z-index: 10;
  opacity: 1;
  -moz-transition: opacity 5s linear;
  -o-transition: opacity 5s linear;
  -webkit-transition: opacity 5s linear;
  transition: opacity 5s linear;
}
/* line 1243, ../sass/custom.scss */
.mask.fade {
  opacity: 0.5;
}

/* line 1249, ../sass/custom.scss */
.slider-container {
  margin-bottom: 5%;
  position: relative;
}

/* line 1253, ../sass/custom.scss */
.lg-slider-for {
  margin-left: auto;
  margin-right: auto;
}

/* line 1257, ../sass/custom.scss */
.lg-slider-nav {
  position: absolute;
  text-align: center;
  padding: 0 20px;
  left: 0;
  right: 0;
  bottom: 10px;
}
/* line 1264, ../sass/custom.scss */
.lg-slider-nav .item {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  cursor: pointer;
  margin: 0 5px;
  padding: 5px 0;
}
/* line 1270, ../sass/custom.scss */
.lg-slider-nav .item:hover {
  background-color: #000;
}
@media (max-width: 1230px) {
  /* line 1257, ../sass/custom.scss */
  .lg-slider-nav {
    display: none !important;
  }
}

/* line 1279, ../sass/custom.scss */
.xs-slider {
  position: relative;
}
/* line 1281, ../sass/custom.scss */
.xs-slider .tt {
  background-color: #d72825;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  font-size: 1.6rem;
}
/* line 1290, ../sass/custom.scss */
.xs-slider .xs-slider-for .item a {
  background-color: #fff;
  display: block;
  margin-bottom: 5px;
}
/* line 4, ../sass/custom.scss */
.xs-slider .xs-slider-for .item a:before, .xs-slider .xs-slider-for .item a:after {
  content: " ";
  display: table;
}
/* line 9, ../sass/custom.scss */
.xs-slider .xs-slider-for .item a:after {
  clear: both;
}
/* line 1295, ../sass/custom.scss */
.xs-slider .xs-slider-for .item a .item-right {
  width: 105px;
  height: 105px;
  overflow: hidden;
  float: right;
  text-align: right;
}
/* line 1301, ../sass/custom.scss */
.xs-slider .xs-slider-for .item a .item-right img {
  height: 100%;
}
/* line 1305, ../sass/custom.scss */
.xs-slider .xs-slider-for .item a .item-left {
  width: calc(100% - 105px);
  float: left;
  padding: 10px;
}
/* line 1309, ../sass/custom.scss */
.xs-slider .xs-slider-for .item a .item-left .info {
  color: #000;
}
/* line 1312, ../sass/custom.scss */
.xs-slider .xs-slider-for .item a .item-left .price {
  font-weight: bold;
}
/* line 1314, ../sass/custom.scss */
.xs-slider .xs-slider-for .item a .item-left .price i {
  font-family: Arial;
  font-style: normal;
}
/* line 1318, ../sass/custom.scss */
.xs-slider .xs-slider-for .item a .item-left .price span {
  font-size: 18px;
}
/* line 1326, ../sass/custom.scss */
.xs-slider .xs-slider-nav {
  position: absolute;
  top: 5px;
  right: 0;
}
@media (max-width: 480px) {
  /* line 1326, ../sass/custom.scss */
  .xs-slider .xs-slider-nav {
    top: 2px;
    right: 10px;
  }
}
/* line 1334, ../sass/custom.scss */
.xs-slider .xs-slider-nav .btn.active {
  background-color: #d72825;
  border-color: #d72825;
  color: #fff;
}

/* line 1342, ../sass/custom.scss */
.responsive a {
  width: 200px;
  display: block;
  padding: 10px;
  background-color: #fff;
  margin-right: 10px;
  position: relative;
}
/* line 1349, ../sass/custom.scss */
.responsive a:hover {
  text-decoration: none;
}
@media (min-width: 769px) {
  /* line 1349, ../sass/custom.scss */
  .responsive a:hover {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    box-shadow: 2px 4px 6px 1px rgba(0, 0, 0, 0.2);
  }
}
/* line 1356, ../sass/custom.scss */
.responsive a .slider-hd {
  width: 180px;
  height: 180px;
  overflow: hidden;
}
/* line 1360, ../sass/custom.scss */
.responsive a .slider-hd img {
  position: relative;
  height: 100%;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* line 1364, ../sass/custom.scss */
.responsive a .slider-bd {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 31%, #ffffff);
  padding: 10px;
}
/* line 1372, ../sass/custom.scss */
.responsive a .slider-bd h3 {
  font-size: 16px;
  color: #000;
  margin-top: 0;
  height: 35px;
  overflow: hidden;
}
/* line 1380, ../sass/custom.scss */
.responsive a .slider-bd .price i {
  font-family: Arial;
  font-style: normal;
}

/* line 1389, ../sass/custom.scss */
.ad-wrap {
  text-align: center;
}
/* line 1391, ../sass/custom.scss */
.ad-wrap div {
  display: inline-block;
}

/* line 1396, ../sass/custom.scss */
.range-slider-wrap {
  width: 100% !important;
}
/* line 1398, ../sass/custom.scss */
.range-slider-wrap .sliders {
  margin: 10px 15px 20px 15px;
  width: 50%;
}
@media (max-width: 480px) {
  /* line 1398, ../sass/custom.scss */
  .range-slider-wrap .sliders {
    width: 90%;
  }
}
/* line 1405, ../sass/custom.scss */
.range-slider-wrap .price {
  font-weight: normal;
  font-size: 12px;
  color: #777;
}
/* line 1409, ../sass/custom.scss */
.range-slider-wrap .price i {
  font-style: normal;
  font-family: Arial;
}
/* line 1413, ../sass/custom.scss */
.range-slider-wrap .price span {
  font-size: 15px;
}

/* line 1418, ../sass/custom.scss */
.mall-btn-wrap {
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 10px;
  text-align: center;
  position: fixed;
  z-index: 9;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);
}
/* line 1429, ../sass/custom.scss */
.mall-btn-wrap li {
  display: inline-block;
}
/* line 1432, ../sass/custom.scss */
.mall-btn-wrap li .btn.active, .mall-btn-wrap li .btn:hover {
  background-color: #777;
  color: #fff;
}

/* line 1440, ../sass/custom.scss */
.index-banner-wrap {
  width: 100%;
  position: relative;
}
/* line 1444, ../sass/custom.scss */
.index-banner-wrap .mall .item {
  margin-bottom: 5px;
  display: block;
}
/* line 1447, ../sass/custom.scss */
.index-banner-wrap .mall .item img {
  width: 100%;
}
